<!--Queue Index-->
<!--IS 403 Data Structures Assignment
    Ross Rosenlof, Trevan Reese, Caden Dortch, Ryan Jenks
    This website shows how three data
    structures - stacks, dictionaries, and queues,
    handle data and output them to a view.-->
@{
    ViewBag.Title = "IndexQueue";
}

<h2>Queue</h2>
<div class="vertical-menu">
    <a href="@Url.Action("IndexQueue1", "Queue")">1. Add one item to Queue</a>
    <a href="@Url.Action("IndexQueue2", "Queue")">2. Add Huge List of Items to Queue</a>
    <a href="@Url.Action("IndexQueue3", "Queue")">3. Display Queue</a>
    <a href="@Url.Action("IndexQueue4", "Queue")">4. Delete from Queue</a>
    <a href="@Url.Action("IndexQueue5", "Queue")">5. Clear Queue</a>
    <a href="@Url.Action("IndexQueue6", "Queue")">6. Search Queue</a>
    <a href="@Url.Action("Index", "Index")">7. Return to Main Menu</a>
</div>


<div class="display_output">

    @if (ViewBag.Output != null)
    {
        <p>
            @foreach (var item in ViewBag.Output)
            {
                @item
            }
        </p>
    }


</div>



