<!--Stack Index-->
@{
    ViewBag.Title = "IndexStack";
}

<h2>Stack</h2>
<div class="vertical-menu column left">
    <a href="@Url.Action("IndexStack1", "Stack")">1. Add one item to Stack</a>
    <a href="@Url.Action("IndexStack2", "Stack")">2. Add Huge List of Items to Stack</a>
    <a href="@Url.Action("IndexStack3", "Stack")">3. Display Stack</a>
    <a href="@Url.Action("IndexStack4", "Stack")">4. Delete from Stack</a>
    <a href="@Url.Action("IndexStack5", "Stack")">5. Clear Stack</a>
    <a href="@Url.Action("IndexStack6", "Stack")">6. Search Stack</a>
    <a href="@Url.Action("Index", "Index")">7. Return to Main Menu</a>
</div>


<div class="display_output column right">

    @if (ViewBag.Output != null)
    {
        <p>
            @foreach (var item in ViewBag.Output)
            {
                @item
            }
        </p>
    }


</div>



