<!--Stack Index-->
@{
    ViewBag.Title = "IndexStack";
}


<h2>Stack</h2>
<div class="vertical-menu">
    <a href="@Url.Action("IndexDictionary1", "Dictionary")">1. Add one time to Dictionary</a>
    <a href="@Url.Action("IndexDictionary2", "Dictionary")">2. Add Huge List of Items to Dictionary</a>
    <a href="@Url.Action("IndexDictionary3", "Dictionary")">3. Display Dictionary</a>
    <a href="#">4. Delete from Dictionary</a>
    <a href="#">5. Clear Dictionary</a>
    <a href="#">6. Search Dictionary</a>
    <a href="#">7. Return to Main Menu</a>
</div>


<div class="display_output">

    @if (ViewBag.Output != null)
    {
        <p>
            @foreach (KeyValuePair<string, int> pair in ViewBag.Output)
            {
                @pair.Key @pair.Value
            }
        </p>
    }


</div>



